/*scale 함수 : x축, y축으로 태그를 축소/확대하는 함수, 매개변수로 단위없이 실수를 사용해야한다.*/

div{
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}


.box1{
    background: orange;

}

.box2{
    background: skyblue;

}


.box3{
    background: lightgreen;

}

.box1:hover{
    transform: rotateX(45deg);

}

.box2:hover{
    transform: rotateY(45deg);
}

.box3:hover{
    transform: skerotate(30deg, 30deg);
}
